.output {
    white-space: pre-line;
}
.help {
    white-space: pre-wrap;
    float: left;
    margin: 10px
}
.adminhelp {
    white-space: pre-wrap;
    float: left;
    margin: 30px
}
.search {
    white-space: pre-wrap;
    float: left;
    margin: 30px
}