.help {
    white-space: pre-wrap;
}
.output {
    white-space: pre-wrap;
}
.adminhelp {
    white-space: pre-wrap;
    float: left;
    margin: 30px
}
.search {
    white-space: pre-wrap;
    float: left;
    margin: 30px
}