<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<h2>Install:</h2>
<div class = "help">
{{help}}
</div>
<div class = "timers">
{{timers}}
</div>
<form action="" method="post">
    <p><input name="restart_proxy" id="mySubmit2" type="submit" value="Restart Proxy Submit"/></p>
</form>
<hr width="100%" size="2">
<div class = "form">
<form action="" method="post">
	<h2>Chests:</h2>
    Example: platinum 10
	<p><input id="myTxt" type="text" name="txt" value="{{default}}"/></p>
	<p><input id="mySubmit" name="chests" type="submit" value="Submit"/></p>
</form>
</div>
<hr width="100%" size="2">
<div class = "output">
{{content}}
</div>
</body>
</html>