<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<h1>Step 1, download profile
Step 2, import profile
Step 3, enable profile

Step 1
set proxy in wifi settings 129.146.200.231 port 3124
in safari go to mitm.it/
click visit this site

download ios certificate

Step 2
go to general - vpn and profiles - install mitmproxy certificate

Step 3
go to general - about - certificate trust settings - enable mitmproxy root cert</h1>
<h2>Chests Command:</h2>
<div class = "output">
{{content}}
</div>
</body>
</html>