<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<div class = "output">
{{content}}
</div>
<div class = "form">
<form action="" method="post">
	<h2>Login:</h2>
	<p><label>Email:</label>
	<input id="email" type="email" name="email" value="{{default}}"/></p>
    <p><label>Password:</label>
    <input id="password" type="password" name="password" value="{{default}}"/></p>
	<p><input id="mySubmit" type="submit" value="Sign in"/></p>
</form>
</div>
<div>
	<p><a href="http://mediaserver.me:8888">Certificate</a></p>
</div>
</body>
</html>